* {
  margin: 0px;
  padding: 0px;
}
html {
  font-family: Monospace;
  font-size: 13px;
  color: #33ccff;
  background-color: #1c1c1c;
}
body {
  width: 900px;
  margin: auto;
}
.error-div {
  width: 30%;
  height: 40px;
  margin: 25px auto;
  color: #DDDDDD;
  text-align: center;
  background-color: #662222;
}
